* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  height: 100vh;
  background-image: url('/imagen1.jpg'); 
  background-size: cover; 
  background-position: center;
  display: flex; 
  flex-direction: column; 
}

.container {
  font-family: Arial, sans-serif;
  color: white;
}

.logo {
  width: 40px; 
  height: 40px; 
  background-image: url('/bus-image.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.count-btn, .menu-btn {
  width: 30px;
  height: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.count-btn {
  margin-right: 7px;
  background-image: url('/user-account.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0
}

.menu-btn {
  background-image: url('/menu-burger.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0
}

.inter-container{
  display: flex;
  justify-content: space-between;
}

.title{
  margin: 30px 0 30px 40px;
}

.title p{
  margin-top: 15px;
}

.search-bar {
  width: 400px;
  height: 50px;
  margin: 30px 40px;
  display: flex;
  align-items: center;
  padding: 0px;
  border-radius: 50px;
  position: relative; /* Agregamos posición relativa al contenedor */
}

.search-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2AB4DE;
  opacity: 0.65; /* Aplicamos la opacidad solo al pseudo-elemento */
  border-radius: 50px;
  z-index: -1; /* Agregamos z-index negativo para que el pseudo-elemento esté detrás del contenido */
}
.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  font-size: 11px;
  outline: none;
  color: #fff;
}

.search-bar input::placeholder{
  color: #fff;
  opacity: 0.65;
}

.menu-search-btn {
  margin: 0 2px 0 12px;
  padding: 0px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-image: url('/me.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  width: 20px; /* Ajustamos el ancho del botón */
  height: 20px;
}

.search-btn {
  margin-right: 11px;
  padding: 0px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-image: url('/se.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  width: 20px; /* Ajustamos el ancho del botón */
  height: 20px;
}

.faq-container {
  margin: 20px;
  padding: 15px;
}

.faq-question {
  margin-bottom: 30px;
}

.faq-question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF8C00;
  border-radius: 5px;
}

.faq-question-header h2 {
  margin-top: 0;
  margin-left: 40px;
  font-size: 20px;
}

.faq-toggle {
  width: 55px;
  background-color: #FF8C00;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.faq-toggle:hover {
  background-color: #2AB4DE;
}

.faq-answer {
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 10px;
  color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2AB4DE;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FF8C00;
}