* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container_module {
    font-family: Arial, sans-serif;
    color: white;
}

.inter_container_module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 10px;
}

.footer_module {
    background: none;
    display: flex;
    margin-left: 30px;
    img {
        width: 35px;
        height: 45px;
    }
    p {
        font-size: 25px;
        padding: 10px;
    }
}

.left_section, .right_section {
    flex-basis: 40%;
}

.module_option_header {
    text-align: center;
    margin-top: 80px;
    h2 {
        font-size: 35px;
    }
    button {
        display: block;
        margin: 40px auto;
        padding: 15px 20px;
        width: 400px;
        cursor: pointer;
        font-size: 25px;
        background: none;
        color: white;
        border: 0.5px solid white;
        border-radius: 10px;
    }
}

.title_module {
    padding-top: 0px;
    padding-left: 60px;
    text-align: center;
    h1 {
        font-size: 45px;
    }
}

.map_image {
    width: 700px;
    height: 430px; 
    border-radius: 10px; 
    background-image: url('/imagen_mapa.jpg');
    background-size: cover; 
    background-position: center; 
    margin: 50px auto;
}

.route-history-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .offline-message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

.report-form {
    margin-top: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-form textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.report-form button {
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: #FF5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.report-form button:hover {
    background-color: #cc4628;
}

