.auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-button, .signup-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
  }
  
  .login-button {
    background-color: #00BFFF;
    color: white;
  }
  
  .signup-button {
    background-color: #00BFFF;
    color: white;
  }
  