.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FF8C00;
    font-family: arial;
}
  
  .logo {
    width: 40px; 
    height: 40px; 
    background-image: url('/bus-image.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
  }

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover{
  font-weight: bold;
}

.nav-links .current a {
  text-decoration: underline;
  font-weight: bolder;
}


